<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Transferencias
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

<div>
  <ion-list>
    <ion-item>
      <ion-item lines="none">
        <ion-label>Cuenta de Origen: </ion-label>
      </ion-item>
      <ion-select placeholder="Cuenta de origen" [(ngModel)]="_cuentaIni">
        <ion-select-option *ngFor="let account of accountList" [value]="account.id" >
          {{ account.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-item lines="none">
        <ion-label>Cuenta de Destino: </ion-label>
      </ion-item>
      <ion-select placeholder="Cuenta de Destino" [(ngModel)]="_cuentaDes">
        <ion-select-option *ngFor="let account of accountList" [value]="account.id">
          {{ account.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <Label >Monto a ingresar:  </Label>
      <ion-input [(ngModel)]="monto"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="updateAccount()">Transferir</ion-button>
  <ion-button expand="block" (click)="getStarted()">Actualizar</ion-button>
</div>
<div id="container">
  <strong>Advertencia</strong>
  <p>NO puede ingresar un monto mayor al disponible en su cuenta</p>
  <h2>Para visualizar los cambios debe ir a <strong>CUENTAS</strong></h2>
</div>
</ion-content>
