<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cuentas
      <ion-button expand="block" (click)="getStarted()">Actualizar</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  <ion-list>
    <ion-item *ngFor="let account of accountList; let i = index;">
      <ion-card-header>
        <ion-card-title><strong>{{account.nombre}}</strong></ion-card-title>
        <ion-card-subtitle>{{account.numeroCuenta}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>Saldo disponible: {{account.saldoDisponible}}</ion-card-content>
  </ion-item>
</ion-list>
</div>
</ion-content>
